version: '3.8'

services:
  web-api:
    build: ./api
    ports:
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
    # We can add a 'depends_on' to be extra sure,
    # but 'docker-compose up' will pull all images anyway.
    depends_on:
      - converter

  # --- NEW SERVICE DEFINITION ---
  # This service's only job is to ensure the gmsh
  # image is pulled when you run 'docker-compose up'.
  converter:
    image: trophime/gmsh  # The correct image name
    command: "true"         # A dummy command that just exits